
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

form {
    margin: 20px auto;
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left; /* Align labels to the left */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#signupMessage, #customerLoginMessage {
    color: red;
    margin-top: 10px;
}

h2 {
    margin: 20px 0; /* Space out the headers */
}

/* category , home */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a,
nav ul li button {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li button:hover,
nav ul li a:hover {
    background-color: #777;
}
